include _mixins.pug

-telNo = "07436379120";

doctype html
//html(lang="en")
    head
        title Roland Molnar - Fullstack developer portfolio
        meta(charset="utf-8")
        link(href="style/libs/hint.base.min.css" type="text/css" rel="stylesheet")
        link(href="style/landing.css" type="text/css" rel="stylesheet")
        link(href="pics/icons/globe.png" type="image/png" rel="icon" )

        +metaTag("viewport", "width=device-width, initial-scale=1")
        +metaTag("keywords", "molnarland,php,javascript,js,fullstack")
        +metaTag("description", "Roland Molnar is PHP & JavaScript fullstack developer for a modern, professional, custom webpages if you need a successful business.")
        +metaTag("robots", "index, follow")
        +metaTag("googlebot", "index, follow")

        +openGraphMeta("url", "http://molnarland.github.io")
        +openGraphMeta("type", "website")
        +openGraphMeta("title", "PHP & JS fullstack developer")
        +openGraphMeta("description", "Roland Molnar for a modern, professional, custom webpages if you need a successful business.")
        +openGraphMeta("image", "http://molnarland.github.io/pics/photo-of-me.jpeg")

        +twitterMeta("card", "summary")
        +twitterMeta("site", "@molnarland")
        +twitterMeta("creator", "@molnarland")
    body
        header#navbar
            #contacts
                +contact("http://twitter.com/molnarland", "twitter")
                +contact("mailto:rrmolnar@gmail.com", "email")(label="rrmolnar@gmail.com")
                +contact("http://github.com/molnarland", "github")
                +contact("tel:"+telNo, "phone")(label=telNo)
                +contact("http://linkedin.com/in/molnarland", "linkedin")

            +rasta-text("molnarland", "h1")(class="hide")

            ul#menu
                each val, index in [{text: 'WordsOutInJS', link: '/wordsoutinjs'}, {text: 'Blog', link: '/blog'}]
                    -liClass = 'border-from-left';
                    if index % 2 == 0
                        -liClass = 'border-from-right';
                    else
                        -liClass = 'border-from-left';

                    li(class=liClass)
                        a(href=val.link)= val.text
        //#menu


        section#welcome
            #welcome-container
                #welcome-text
                    -rotate = 10
                    each item, index in "WELCOME"
                        span(class="bridge-" + index style="transform:rotate(" + (index * rotate) + "deg)")= item
                h2#questions Need you successful business? Need you a professional webpage?
                +rasta-text("Roland Molnar", "h1")(class="black")
                h2#answer Solution is here
                #photo-of-me
                    img(src="pics/photo-of-me.jpeg" alt="Roland Molnar")
        //#welcome


        section#iam
            +rasta-text("I am", "h3")
            .content
                p#iam-text
                    b PHP&nbsp;
                    | and&nbsp;
                    b JavaScript FullStack webdeveloper
                    | . I&nbsp;
                    span.red-text &#9829;&nbsp;
                    | coding&nbsp;
                    b webpages
                    | everytime.
                #iam-photo
                    img(src="pics/with-computer.jpg")
        //#iam

        section#works
            +rasta-text("My projects", "h3")
            .center-content
                +work(
                    "ingyenpia.png",
                    "Ingyenpia.hu",
                    "I'm creating this hungarian website with my marketing and seo wizard friend with citizens of Budapest.",
                    "http://ingyenpia.hu"
                )(class="work")
                +work(
                    "ugyeszsegiszemle.png",
                    "Prosecution's News",
                    "I coded for Hungarian Prosecution with Laravel and jQuery.",
                    "http://ugyeszsegiszemle.hu"
                )(class="work")
        //#works

        section#contact-now
            +rasta-text("We work together... Just contact me on", "h3")
            .center-content
                a(href="mailto:rrmolnar@gmail.com").action
                    h5.tool Email
                    p.info rrmolnar@gmail.com
                a(href="tel:"+telNo).action
                    h5.tool Phone
                    p.info=telNo
        //#contact-now

        footer
            span#inBirmingham
                | I came to Birmingham
                time
                | &nbsp;ago.
            span#code
                a(href="https://github.com/molnarland/molnarland.github.io/") View code of this site
        //footer

        script(src="script/functions.js")
        script(src="script/landing.js")
