doctype html
html
	head
		title molnarland
		link(href="style/landing.css" type="text/css" rel="stylesheet")
	body
		mixin molnarland-text(heading)
			.molnarland-text(class!=attributes.class)
				#{heading}
					each val, index in ['m', 'o', 'l', 'n', 'a', 'r', 'l', 'a', 'n', 'd']
						span(class= "molnarland-" + index)= val

		section#navbar
			#social-media
				a(href="http://twitter.com/molnarland")#twitter-link
					img(alt="molnarland-twitter" src="pics/twitter_icon.png")
				a(href="http://github.com/molnarland")#github-link
					img(alt="molnarland-github" src="pics/github_icon.png")
				a(href="http://linkedin.com/in/molnarland")#linkedin-link
					img(alt="molnarland-linkedin" src="pics/linkedin_icon.png")

			+molnarland-text("h1")(class="hide")

			ul#menu
				each val, index in [{text: 'WordsOutInJS', link: '/wordsoutinjs'}, {text: 'Blog', link: '/blog'}]
					li
						a(href=val.link)= val.text

		//#menu


		section#welcome
			+molnarland-text("h1")(class="black")

		//#section

		script(src="script/landing.js")
