include _mixins.pug

doctype html
html(lang="en")
    head
        title molnarland
        link(href="style/libs/hint.base.min.css" type="text/css" rel="stylesheet")
        link(href="style/landing.css" type="text/css" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1")
    body
        header#navbar
            #contacts
                +contact("http://twitter.com/molnarland", "twitter")
                +contact("mailto:rrmolnar@gmail.com", "email")(label="rrmolnar@gmail.com")
                +contact("http://github.com/molnarland", "github")
                +contact("tel:07436716743", "phone")(label="07436716743")
                +contact("http://linkedin.com/in/molnarland", "linkedin")

            +rasta-text("molnarland", "h1")(class="hide")

            ul#menu
                each val, index in [{text: 'WordsOutInJS', link: '/wordsoutinjs'}, {text: 'Blog', link: '/blog'}]
                    -liClass = 'border-from-left';
                    if index % 2 == 0
                        -liClass = 'border-from-right';
                    else
                        -liClass = 'border-from-left';

                    li(class=liClass)
                        a(href=val.link)= val.text
        //#menu


        section#welcome
            #welcome-container
                #welcome-text
                    -rotate = 10
                    each item, index in "WELCOME"
                        span(class="bridge-" + index style="transform:rotate(" + (index * rotate) + "deg)")= item
                +rasta-text("Roland Molnar", "h1")(class="black")
                #photo-of-me
                    img(src="pics/photo-of-me.jpeg" alt="Roland Molnar")
        //#welcome


        section#iam
            +rasta-text("I am", "h3")
            .content
                p#iam-text
                    b PHP&nbsp;
                    | and&nbsp;
                    b JavaScript FullStack webdeveloper
                    | . I&nbsp;
                    span.red-text &#9829;&nbsp;
                    | coding&nbsp;
                    b webpages
                    | everytime. This is my hobby too after than sport, health, learning, reading.
                    | I'm open-minded, open to lot of things. I know how important a great website with
                    | beautiful design and fast loading of good, modern company.
                #iam-photo
                    img(src="http://placehold.it/200x200")
        //#iam

        section#works
            +rasta-text("My projects", "h3")
            .center-content
                +work(
                    "ingyenpia.png",
                    "Ingyenpia.hu",
                    "I creating this hungarian website with my marketing and seo wizard friend with citizens of Budapest.",
                    "http://ingyenpia.hu"
                )
                +work(
                    "ugyeszsegiszemle.png",
                    "Ügyészségi Szemle (Prosecution's Newspaper)",
                    "I coded for Hungarian Prosecution with Laravel and jQuery.",
                    "http://ugyeszsegiszemle.hu"
                )

        //hr

        footer
            span#inBirmingham
                | I came to Birmingham
                time
                | &nbsp;ago.
            span#code
                a(href="https://github.com/molnarland/molnarland.github.io/") View code for this site



        script(src="script/landing.js")
