doctype html
html
	head
		title molnarland
		link(href="landing.css" type="text/css" rel="stylesheet")
	body
		| Please check out my social media accounts!
		br
		| I planning and developing this landing page yet.
		br
		a(href="twitter.com/molnarland") Twitter
		br
		a(href="github.com/molnarland") GitHub
		br
		a(href="#") LinkedIn
		br
		br
		a(href="/wordsoutinjs") wordsOutInJS
		br
		a(href="/blog") My personal blog