$trans: 1s ease
$gray: #eee
$darker-gray: #ddd
$blue: #09f
$ligher-blue: #e5f5ff

*
	transition: $trans

body
	font-size: 15px
	display: flex
	background: #7B7B7B
	flex-direction: column

p, label, input
	font-size: 1em

input
	background: $gray

input[type="range"]
	font-size: 0.8em
	background: inherit

p, input[type="range"], label
	margin: 0
	line-height: 1

input[type="text"], input[type="button"], a.btn
	border-radius: 10px

input[type="text"], input[type="button"]
	padding: 5px
	border: 2px solid #fff
	// transition: $trans
	&:hover
		border-color: $blue
		// transition: $trans
	&:focus, &:active
		background: $ligher-blue
		// transition: $trans	
	

input[type="checkbox"], input[type="button"], label
	cursor: pointer

p, label
	color: $darker-gray



.settings, #description, #download
	border-radius: 6px

//description and others
#description, #download
	margin-bottom: 20px

#project-name, #download
	text-align: center
	a
		text-decoration: none

#proposer, #project-name
	font-weight: normal 

#description
	background: #DDD
	padding: 20px

#project-name
	margin: 20px 0
	a	
		color: #3B9214
		font-size: 45px
		&:visited
			color: #43CF04

#download
	background: #B9B9B9
	padding: 20px
	text-align: center
	a
		color: #DCDCDC 
		font-size: 25px
		background: #08AB04
		padding: 5px 20px
		&:hover
			padding: 10px 30px
			font-size: 28px
		&:first-child
			margin-right: 50px
		&:last-child
			margin-left: 50px

#proposer
	color: #4A4A4A
	font-size: 33px
	width: 50vw
	margin: 0 auto
	text-align: center




//program
.settings
	background: #454545
	width: calc(100% - 20px)
	padding: 10px
	display: flex
	flex-direction: column
	& > div
		margin-bottom: 15px
	& > div:first-child
		margin-top: 15px

#words
	width: 100%
	input
		width: calc(100% - 10px)

#delay, #wait, #color
	width: 100%
	display: flex
	justify-content: center
	div
		width: calc(50% - 10px)
		display: flex
		justify-content: space-between
		&:first-child
			margin-right: calc(2.5% + 2.5px)
		&:last-child
			margin-left: calc(2.5% + 2.5px)
		input
			width: 100%
			margin-right: 10px
			margin-left: 10px
			&[type="range"]
				margin: 7.5px 5px 0 0
		p:last-child
			margin: 7.5px 0



#stop
	display: flex
	justify-content: center
	input
		margin: 5px 0 5px 8px
		transform: scale(1.5)
	label
		padding-top: 4px

#ok
	width: 100%
	display: flex
	justify-content: center
	margin-top: 7.5px
	input
		width: 40%
		margin: 5px 5px 0
		&:hover
			border-color: #09f
		&:first-child
			margin-right: 30px
		&:last-child
			margin-left: 30px

#woi
	width: 100%
	height: 50vh
	display: flex
	justify-content: center
	align-items: center
	font-size: 1.5em

#woitxt
	transition: ease 300ms


#inspirate
	font-size: 10px
	text-align: right
	margin-top: -16px


@media(max-width:1024px)
	p, label, input
		font-size: 2em

	input[type="range"]
		font-size: 1.6em

	.settings > div:not(:last-child)
		margin-bottom: 25px

	#woi
		font-size: 3em

	#stop
		input
			transform: scale(2.5)
			margin: 10px 0 5px 15px
		label
			padding-top: 0

@media(max-width:800px)
	#download a
		font-size: 20px
		&:hover
			font-size: 23pxss