body {
  font-size: 20px; }

p, label, input {
  font-size: 1em; }

input[type="range"] {
  font-size: 0.8em; }

p, input[type="range"] {
  margin: 7.5px 0;
  line-height: 1; }

input[type="text"], input[type="button"] {
  border-radius: 10px;
  padding: 5px;
  border: 2px solid #fff;
  -webkit-transition: 1s ease;
          transition: 1s ease; }
  input[type="text"]:hover, input[type="button"]:hover {
    border-color: #09f;
    -webkit-transition: 1s ease;
            transition: 1s ease; }

input[type="text"]:focus, input[type="button"]:active {
  border-color: #09f;
  -webkit-transition: 1s ease;
          transition: 1s ease; }

input[type="text"]:focus {
  background: #e5f5ff;
  -webkit-transition: 1s ease;
          transition: 1s ease; }

input[type="button"]:active {
  background: #09f;
  -webkit-transition: 1s ease;
          transition: 1s ease; }

input[type="checkbox"], input[type="button"], label {
  cursor: pointer; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: #7B7B7B;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.settings {
  background: #454545;
  width: calc(100% - 20px);
  max-height: 50vh;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

#words {
  width: 100%;
  margin-bottom: 7.5px; }
  #words input {
    width: calc(100% - 10px); }

#delay, #wait {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  #delay input, #wait input {
    width: 100%; }

#stop {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #stop input {
    margin: 5px 0 5px 8px;
    -webkit-transform: scale(1.5);
        -ms-transform: scale(1.5);
            transform: scale(1.5); }
  #stop p {
    margin: 0; }

#ok {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7.5px; }
  #ok input {
    width: 40%;
    margin: 5px 5px 0; }
    #ok input:hover {
      border-color: #09f; }

#woi {
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em; }

#inspirate {
  font-size: 10px;
  text-align: right; }

/*# sourceMappingURL=style.css.map */