#contact-now
	+gradient(to left)
	padding-bottom: 40px
	.rasta-text
		margin-bottom: 60px
		
.action
	width: 300px
	height: 80px
	text-align: center
	color: #eee
	background: #ff4000
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5)
	border-radius: 5px
	+trans()
	&:hover
		background: #ff2000
		+trans()
	
.tool
	text-transform: uppercase
	margin: 20px 0 0
	font-size: 1.8em
	
.info
	margin: 0
	font-size: .7em