#iam
	+gradient(to right)
	padding: 20px 3%
	.content
		font-size: 1.2em
		margin-left: 20px
		width: 100%
		display: flex
		justify-content: space-between
		
#iam-text
	width: 60%
		
#iam-photo
	width: 200px
	height: 200px
	margin-right: 10%
	
	
	

@media (max-width: 800px)
	#iam-text
		width: 55%
		
@media (max-width: 700px)
	#iam-photo
		margin-right: 5%
	
	
@media (max-width: 600px)
	#iam .content
		flex-wrap: wrap-reverse
		margin-left: 0
	
	#iam-text
		width: 100%
		margin: 0 0 20px
		
	#iam-photo
		margin: 20px auto
		
	
//@media (max-width: 400px)
//	 #iam .content
//		 margin-left: 0
		