$font-color: #000

#welcome
	margin-top: $menuHeight
	background:
		image: url("../pics/welcome-background.jpg")
		position: center center
		size: cover
		attachment: fixed
	height: 500px
	position: relative
	color: $font-color
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		background-color: rgba(0, 111, 255, .4)
		z-index: 1
		width: 100%
		height: 100%
	.rasta-text, #welcome-text
		position: absolute
	.rasta-text
		font-size: 2em
		width: 100%
		left: 0
		right: 0
		bottom: 2%
		margin: 0 auto
		text-align: center
		
#welcome-container
	position: relative
	z-index: 2
	width: 90vw
	height: 100%
	margin: 0 auto
		
#welcome-text
	top: 20%
	border-radius: 50%
	position: relative
	width: 200px
	font-size: 1.3em
	span
		text-transform: uppercase
		height: 200px
		width: 20px
		position: absolute
		left: 0
		top: 0
		transform-origin: bottom center
		
#photo-of-me
	position: absolute
	top: 25%
	background: rgba(0, 0, 0, .3)
	+centerPictureInDiv(160px, 210px, 10px)
	border-radius: 5px
	&.center
		left: 0
		right: 0
		margin: auto
	&.left
		left: 5%
	&.right
		right: 5%
	

@media(max-width: 800px)
	#welcome-text
		top: 5%
	
		
@media(max-width: 380px)
	#welcome
		padding: 0
	
	#welcome-container
		width: 100%
		
	
	