@import _fonts
@import _mixins

$menuHeight: 60px
$socials: 3
$molnarlandCharCount: 9
$imageBorderRadius: 5px
$darkerBgColorInGradient: #999
$ligherBgColorInGradient: #eee

html, body
	overflow-x: hidden

body
	margin: 0
	padding: 0
	font-family: Ubuntu
	font-size: 16px
	line-height: 150%
	
a
	text-decoration: none
	
.red-text
	color: red

.rasta-text
	opacity: 1
	&.hide
		opacity: 0
	span
		+trans(.1, ease-out)
		&:hover
			+trans(.1, ease-in)
			&[hover-color="red"]
				color: red
			&[hover-color="yellow"]
				color: gold
			&[hover-color="green"]
				color: green
		

.center-content
	//width: 75%
	min-width: 250px
	max-width: 1000px
	margin: 0 auto
	display: flex
	justify-content: space-around
	flex-wrap: wrap
	
.flex-breakline
	width: 100%
	
section
	padding: 20px 15px
	h3
		font-size: 2em
		margin: 0
	
hr
	margin: 0
		
							   

@import _navbar
@import _welcome
@import _iam
@import _works
@import _contact
@import _footer



@media(max-width: 620px)
	.rasta-text h3
		line-height: 130%

@media(max-width: 350px)
	body
		font-size: 13px