body {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.molnarland-text {
  opacity: 1; }
  .molnarland-text.hide {
    opacity: 0; }
  .molnarland-text span {
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out; }
    .molnarland-text span:hover {
      -webkit-transition: 0.1s ease-in;
      transition: 0.1s ease-in; }

.molnarland-0:hover {
  color: red; }

.molnarland-1:hover {
  color: red; }

.molnarland-2:hover {
  color: red; }

.molnarland-3:hover {
  color: gold; }

.molnarland-4:hover {
  color: gold; }

.molnarland-5:hover {
  color: gold; }

.molnarland-6:hover {
  color: green; }

.molnarland-7:hover {
  color: green; }

.molnarland-8:hover {
  color: green; }

.molnarland-9:hover {
  color: green; }

#navbar {
  width: 100%;
  height: 60px;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #navbar.top-fix {
    position: fixed;
    top: 0;
    z-index: 9; }

#social-media {
  margin: 15px 10px 0; }
  #social-media a {
    margin-left: 5px;
    z-index: 10;
    float: left; }
    #social-media a:first-child {
      margin-left: 0; }
    #social-media a img {
      width: 30px;
      height: 30px; }

#navbar .molnarland-text {
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  color: white; }
  #navbar .molnarland-text h1 {
    margin: 0; }

#menu {
  margin: 0 10px;
  padding: 0;
  font-size: 1.05em; }
  #menu li {
    float: left;
    border-left: 1px #263238 solid; }
    #menu li:first-child {
      border-left: none; }
    #menu li a {
      display: block;
      line-height: 20px;
      padding: 20px;
      color: white; }

.border-from-right {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  .border-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background: green;
    height: 5px;
    bottom: 0;
    right: 0;
    left: 100%;
    -webkit-transition-property: left;
    transition-property: left; }
  .border-from-right:hover:before, .border-from-right:hover:active, .border-from-right:hover:focus {
    left: 0; }

.border-from-left {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  .border-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background: green;
    height: 5px;
    bottom: 0;
    left: 0;
    right: 100%;
    -webkit-transition-property: right;
    transition-property: right; }
  .border-from-left:hover:before, .border-from-left:hover:active, .border-from-left:hover:focus {
    right: 0; }

@media (max-width: 600px) {
  #social-media {
    margin: 20px 5px 0 10px; }
    #social-media a img {
      width: 20px;
      height: 20px; }
  #navbar .molnarland-text {
    width: 90px;
    font-size: .5em; }
  #menu {
    margin: 0 10px 0 5px; }
    #menu li a {
      padding: 20px 10px;
      font-size: .7em; } }

@media (max-width: 350px) {
  #navbar .molnarland-text {
    display: none; } }

#welcome {
  position: relative; }
  #welcome .molnarland-text {
    color: black; }
