@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  font-style: normal;
  src: url("fonts/Ubuntu-Light.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 300;
  font-style: italic;
  src: url("fonts/Ubuntu-LightItalic.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  src: url("fonts/Ubuntu-Regular.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: italic;
  src: url("fonts/Ubuntu-Italic.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  src: url("fonts/Ubuntu-Medium.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: italic;
  src: url("fonts/Ubuntu-MediumItalic.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: normal;
  src: url("fonts/Ubuntu-Bold.ttf"); }

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: italic;
  src: url("fonts/Ubuntu-BoldItalic.ttf"); }

@font-face {
  font-family: CHM;
  src: url("fonts/Calligraphy_Hand_Made.ttf"); }

html, body {
  overflow-x: hidden; }

body {
  margin: 0;
  padding: 0;
  font-family: Ubuntu;
  font-size: 16px; }

a {
  text-decoration: none; }

.red-text {
  color: red; }

.molnarland-text {
  opacity: 1; }
  .molnarland-text.hide {
    opacity: 0; }
  .molnarland-text span {
    -webkit-transition: 0.1s ease-out;
    transition: 0.1s ease-out; }
    .molnarland-text span:hover {
      -webkit-transition: 0.1s ease-in;
      transition: 0.1s ease-in; }
      .molnarland-text span:hover[hover-color="red"] {
        color: red; }
      .molnarland-text span:hover[hover-color="yellow"] {
        color: gold; }
      .molnarland-text span:hover[hover-color="green"] {
        color: green; }

.center-content {
  width: 75%;
  min-width: 250px;
  max-width: 1000px;
  margin: 0 auto; }

.flex-breakline {
  width: 100%; }

section {
  padding: 0 15px; }

hr {
  margin: 0; }

#navbar {
  width: 100%;
  height: 60px;
  background: black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 9; }

#contacts {
  margin: 15px 10px 0; }
  #contacts a {
    margin-left: 5px;
    z-index: 10;
    float: left; }
    #contacts a:first-child {
      margin-left: 0; }
    #contacts a img {
      width: 30px;
      height: 30px; }

#navbar .molnarland-text {
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: CHM;
  font-size: 1.3em; }
  #navbar .molnarland-text h1 {
    margin: 0; }

#menu {
  margin: 0 10px;
  padding: 0;
  font-size: 1.05em; }
  #menu li {
    float: left;
    border-left: 1px #263238 solid; }
    #menu li:first-child {
      border-left: none; }
    #menu li a {
      display: block;
      line-height: 20px;
      padding: 20px;
      color: white; }

.border-from-right {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  .border-from-right:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background: green;
    height: 5px;
    bottom: 0;
    right: 0;
    left: 100%;
    -webkit-transition-property: left;
    transition-property: left; }
  .border-from-right:hover:before, .border-from-right:hover:active, .border-from-right:hover:focus {
    left: 0; }

.border-from-left {
  display: inline-block;
  position: relative;
  overflow: hidden;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0); }
  .border-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
    background: green;
    height: 5px;
    bottom: 0;
    left: 0;
    right: 100%;
    -webkit-transition-property: right;
    transition-property: right; }
  .border-from-left:hover:before, .border-from-left:hover:active, .border-from-left:hover:focus {
    right: 0; }

@media (max-width: 655px) {
  #contacts {
    margin: 20px 5px 0 10px; }
    #contacts a img {
      width: 20px;
      height: 20px; }
  #navbar .molnarland-text {
    width: 90px;
    font-size: .8em; }
  #menu {
    margin: 0 10px 0 5px; }
    #menu li a {
      padding: 20px 10px; } }

@media (max-width: 440px) {
  #navbar .molnarland-text {
    display: none; } }

#welcome {
  margin-top: 60px;
  background-image: url("../pics/welcome-background.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  color: #000; }
  #welcome:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 111, 255, 0.4);
    z-index: 1;
    width: 100%;
    height: 100%; }
  #welcome .molnarland-text, #welcome #welcome-text {
    position: absolute; }
  #welcome .molnarland-text {
    font-size: 2em;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 10%;
    margin: 0 auto;
    text-align: center; }

#welcome-container {
  position: relative;
  z-index: 2;
  width: 90vw;
  height: 100%;
  margin: 0 auto; }

#welcome-text {
  top: 20%;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: relative;
  width: 200px;
  font-size: 1.3em; }
  #welcome-text span {
    text-transform: uppercase;
    height: 200px;
    width: 20px;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: bottom center;
        -ms-transform-origin: bottom center;
            transform-origin: bottom center; }

#photo-of-me {
  position: absolute;
  top: 25%;
  background: rgba(0, 0, 0, 0.3);
  width: 160px;
  height: 210px; }
  #photo-of-me img {
    width: 140px;
    height: 190px;
    margin-top: 10px;
    margin-left: 10px; }
  #photo-of-me.center {
    left: 0;
    right: 0;
    margin: auto; }
  #photo-of-me.left {
    left: 5%; }
  #photo-of-me.right {
    right: 5%; }

@media (max-width: 800px) {
  #welcome-text {
    top: 5%; } }

@media (max-width: 380px) {
  #welcome {
    padding: 0; }
  #welcome-container {
    width: 100%; } }

#works aside {
  width: 250px;
  min-width: 250px;
  margin: 15px;
  border: 1px solid #000; }
  #works aside .title, #works aside .content {
    text-align: center;
    color: #000;
    margin: 0;
    padding: 10px; }

#works > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }

.work-img-box {
  width: 250px;
  height: 300px; }
  .work-img-box img {
    width: 240px;
    height: 290px;
    margin-top: 5px;
    margin-left: 5px; }

@media (max-width: 350px) {
  body {
    font-size: 13px; } }
