doctype html
html
    head
        title molnarland's blog - admin
    body
        a(href="/blog/admin/labels.html") Labels
        br
        a(href="/blog/admin/posts.html") Posts

        script(src="dist/main.js")