include ../libs/codemirror/_function

doctype html
html
    head
        +codemirror('../libs/codemirror')
    body
        textarea#in
        button#save Save
        #out

        script(src="index.js")